

.calculator {
    width: 320px;
    margin: 30px auto;
    background-color: #000;
    border-radius: 5px;
    padding: 10px;
}
.display {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: right;
    margin-bottom: 1rem;
    min-height: 2rem;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.button {
    flex-grow: 1;
    border: none;
    background-color: #ddd;
    color: #333;
    padding: 0.5rem 0;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 0.25rem;
    border-radius: 5px;
}

.button:last-child {
    margin-right: 0;
}  
.button.function {
    background-color: #666;
}
.button.operator, .button.delete, .button.clear {
    background-color: #f60;
}
.calculator > span {
    color:#f60;
    text-align: center;
}
.calc{
    margin: 15px !important;
    max-width: 250px !important;
    margin: 10px 0px 10px 30px !important;
}

